.header{
    background-color: var( --header_backg ) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom:  solid 1px var(--border-color);
}
.logo{
    font-size: 30px;
}
.buttons{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.form{
        min-height: 300px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        gap: 10px;
}
.username_or_email,.password{
    display:flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.username_or_email input,.password input{
    padding: 12px 5px;
    border-radius: 5px;
    background-color: red;
}
.links{
    display: flex;
    gap: 10px;
}
.img_lnks{
    display: flex;
     align-items: center;
     gap: 50px;
}
.test{
    position: relative;
}
.cart_wrap{
    width: 206px;
    position: absolute;
    /* display: none; */
    flex-direction: column;
    top: 15px;
    right: -100px;
    
    background-color: var(--header_backg);
    border: solid 1px var(--border-color);
    padding: 1rem;

    border-radius: 12px;
}
.cart_wrap_no_show_cart{
    display: none;
}
.cart_wrap_show_cart{
    display: flex !important;
}
.cart_qty_p{
    padding: 0.5rem 1rem ;
}
.btn_goto_cart_wrap{
    margin-top: 20px;
}
.text_align{
    text-align: center;
}