.sidebar{
    height: calc(100vh - 86px);
    width: 300px !important;
    background-color: var(--header_backg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px var(--border-color);
}
.sidebar_header{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.sidebar_body{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.sidebar_link{
    padding:  1rem;
    border-bottom: solid 1px var(--border-color);
}
.sidebar_link:hover{
    background-color: var(--footer_backg);
}
.versioning{
    text-align: start;
    padding-left: 10px;
    font-size: 9px;
    color: var(--subtext);
}