.trabajos_wrap{
    min-height: calc( 100vh - 86px);
    display: flex;
}
.trabajos{
    /* padding: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}
.trabajos_header{
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: rgb(9, 24, 51);
    width: 100%;
}
.trabajos_header_mobile_wrap{
    display: none;
}
.trabajos_header_filter_icon{
    display: none;
}
.trabajos_fix_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.trabajo{
    width: 500px;
    padding: 20px;
    background-color: var(--header_backg);
    border: solid 1px var(--border-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.trabajo_header{
    display: flex;
    justify-content: space-between;
}
.trabajo_body li{
    font-size: 12px;
}
.trabajo_body ul{
    padding-left: 15px;
}

.trabajo_footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_tags{
    display: flex;
    gap: 10px;
}

.trabajo_actions{
    display: none;
    flex-direction: column;
    position: absolute;
    /* left: 0; */
    top: 41px;
    /* width: 100px; */
    padding: 20px;
    background-color: var(--header_backg);
    border: solid 1px var(--border-color);
    border-radius: 12px;
}
.trabajo_actions p{
    padding: 10px;
    border-radius: 6px;
}
.trabajo_actions p:hover{
    background-color: var(--border-color);
    cursor: pointer;
}
.trabajo_actions_open{
    display: flex;
}

.zero_stores{
    width: 750px;
    padding: 20px;
    border: solid 1px var(--border-color);
    border-radius: 12px;
    margin: 20px auto 0 auto;

    text-align: center;
    /* display: flex;
    fle */
}
.zero_stores h1{
    font-size: 24px;
    font-weight: bold;
}
.zero_stores span{
    color: rgb(3, 186, 247);
    cursor: pointer;
}
.selectedButton{
    border: solid rgba(61, 216, 236, 0.411) 1px;
}
.current_job_title{
    text-align: center;
    font-size: 25px;
    margin: 10px;
}
.show_job_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

@media screen and (max-width:1050px) {
    .trabajos_header{
        display: none;
    }
    .trabajos_header_filter_icon{
        display: flex;
        gap: 20px;
        background-color: var(--header_backg);
        padding: 5px;
    }
    .trabajos_header_filter_icon Button{
        display: flex;
        gap: 10px;

    }
    .trabajos_header_mobile_wrap{
        /* display: flex; */
        position:fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(58, 58, 58, 0.315);
        z-index: 10000;
        
    }
    .trabajos_header_mobile_wrap_open{
        display: flex;
    }
    .trabajos_header_mobile{
        width: 300px !important;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        background-color: var(--header_backg);
        padding: 5rem 1rem 1rem 1rem ;
        animation: openModalMenu 1s forwards;
    }
    
}

@keyframes openModalMenu {
    0%{
        right: -100%;
    }
    100%{
        right: 0;

    }
}